@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

#header {width: 100%; background: #000;}
#header::before {content: ''; display: block; width: 100%; border-bottom: 1px solid #444; position: absolute; left: auto; top: 2.5rem;}
#header .header_top, #header .header_bottom {width: 100rem; margin: auto;}

#header .header_top ul {display: flex; justify-content: right; column-gap: 18px;}
#header .header_top ul li a {font-size: 0.875rem; color: #999; line-height: 2.5rem;}

#header .header_bottom {display: flex; align-items: center;}
#header .header_bottom ul.gnb {display: flex; column-gap: 3rem; margin-left: 6.875rem;}
#header .header_bottom ul.gnb li a {color: #fff; line-height: 4.375rem; font-weight: 500;}

#header .right {display: flex; align-items: center; column-gap: 1.25rem; margin-left: auto;}
#header .right ul.lang {color: #fff;}
#header .right ul.lang li {display: none; font-size: .875rem;}
#header .right ul.lang li:first-child {display: block;}
#header .right ul.lang li:first-child > img {margin-left: .375rem; padding-bottom: 2px;}
#header .right > .line {width: 1px; height: 1rem; background: #444;}
#header .right .util-box {display: flex; align-items: center; column-gap: 1rem;}

.prevent_click {width: 100%; height: 41.875rem; position: absolute; z-index: 1;}
.visual {width: 100%; height: 41.875rem; overflow: hidden; position: absolute; z-index: -10;}
.visual > iframe {margin-top: -12.5rem;}

#wrap {width: 100%;}
#wrap .bg_img {display:block; width:100%; height: 10974px; background:url(../img/main.png) center 41.875rem no-repeat; z-index:1; text-indent:-999999px;}


/* #wrap {display:block; width:100%; he ight:auto; over flow-x:hidden;}
#wrap .bg_img {display:block; width:100%; height: 10974px; background:url(../img/main.png) center top no-repeat; z-index:1; text-indent:-1000000px;} */
