@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

header {width: 100%; background: #000;}
header::before {content: ''; display: block; width: 100%; border-bottom: 1px solid #444; position: absolute; left: auto; top: 40px;}
header .header_top, header .header_bottom {width: 100rem; margin: auto;}

header .header_top ul {display: flex; justify-content: right; column-gap: 18px;}
header .header_top ul li a {font-size: 0.875rem; color: #999; line-height: 2.5rem;}

header .header_bottom {display: flex; justify-content: start; column-gap: 6.875rem;}
header .header_bottom .logo {display: flex; align-items: center;}
header .header_bottom ul.gnb {display: flex; justify-content: start; column-gap: 3rem;}
header .header_bottom ul.gnb li a {color: #fff; line-height: 4.375rem;}
